// global variables
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$bg-color-primary: #1a212c;
$color-primary: #f1f3f8;
$color-secondary:#f37121;
$red:#c70039;
$blue:#111d5e;
$purple:#45046a;
$white-1:#f9f9f9;
$white:#e6f1ff;
$font-family:"Cabin, Open Sans, sans-serif";
$navy:#0a192f;
$light-Navey:#172a45;
$green:#64ffda;
$state:#8892b0;
$ligth-state:#a8b2d1;
