@import './variables';
@import 'components/global.scss';
@import 'components/lists.scss';
@import 'components/grid.scss';
@import 'components/buttons.scss';
@import 'components/hamburger.scss';
@import 'components/animations.scss';
@import './styles';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  font-family: $font-family;
  background-color: $bg-color-primary;
  background-image: linear-gradient(to bottom, #0009, transparent);
  color: $white;
  line-height: 1.6;
  transition: background 0.3s ease-out;
  transition-delay: 0.25s;
  min-height: 100vh;
}

.container {
  min-height: calc(100vh - 70px);
  padding: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.react-icons {
  vertical-align: middle;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

.text-center{
  text-align: center;
}
.text-capitalize{
  text-transform: capitalize;

}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/** SCROLL */
/**=================================================*/
::-webkit-scrollbar {
  border-radius: 50px;
  width: 5px;
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: $red;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: $white;
}
/** SCROLL END */
/**====================================================*/
